<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>muslim.uz</title>

    <!-- Bootstarp -->
    <link rel="stylesheet" href="./bootstrap-4.6.0-dist/css/bootstrap.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="./css/main.css">

    <!-- Fonts -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
           integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
           crossorigin="anonymous"/>

    <!-- owlCarousel -->
    <link rel="stylesheet" href="./owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="./owl-carousel/owl.theme.default.min.css">
     <link rel="stylesheet" href="css/time.css">
 </head>

<body>
   <header>
    <div class="header_top">
        <div class="header_top-inner">
            <div class="container">
                <div class="header-black ">
                    <div id="section1" class="d-flex">
                        <i id="volume" class="fas fa-volume-up">
<!--                            <div class="azaners">-->
<!--                                <div class="azaners__item" id="Qasym">-->
<!--                                    <img src="./img/shayx11.jpg" alt="Qasym" class="azaners__image">-->
<!--                                    <div class="azaners__info">-->
<!--                                        <div class="azaners__name">Касым Ашимов</div>-->
<!--                                        <div class="azaners__desc">Центральная мечеть г. Алматы</div>-->
<!--                                        <a href="#" class="azaners__off">Выбрать</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="azaners__item" data-id="Mishary">-->
<!--                                    <img src="./img/shayx11.jpg" alt="Mishary" class="azaners__image">-->
<!--                                    <div class="azaners__info">-->
<!--                                        <div class="azaners__name">Мишари Рашид</div>-->
<!--                                        <div class="azaners__desc">Масджид аль-Кабир, Кувейт</div>-->
<!--                                        <a href="#" class="azaners__off">Выбрать</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="azaners__item" data-id="Remzi">-->
<!--                                    <img src="./img/shayx11.jpg" alt="Remzi" class="azaners__image">-->
<!--                                    <div class="azaners__info">-->
<!--                                        <div class="azaners__name">Рамзи Ер</div>-->
<!--                                        <div class="azaners__desc">Ирак, Багдад</div>-->
<!--                                        <a href="#" class="azaners__off">Выбрать</a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="azaners__botton">Muslim.uz</div>-->
<!--                            </div>-->
                        </i>
                        <div class="azon_time">Azongacha 01:41:33 qoldi</div>
                        <div class="after"><span class="muxarram">Muxarram,1442</span></div>
                        <div class="month_day">13 Febral,2021</div>
                    </div>

                    <div id="section2">
                        <i id="glasses" class="fas fa-glasses"></i>
                        <div class="special">Maxsus imkoniyatlar</div>
                        <div class="input_text">
                            <input class="input_text-inner" type="text" placeholder="Tizimdan izlash...">
                            <i id="search" class="fas fa-search"></i>
                        </div>
                        <div class="box">
                            <button type="button"><i class="fas fa-chevron-down"></i></button>
                            <select>
                                <option value="">O'zbek tili(lotin)</option>
                                <option value="">Русский</option>
                                <option value="">English</option>
                                <option value="">اللغة العربية</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_button">
        <div class="wrapper">
            <div class="container">
                <nav class="page-nav">
                    <button class="btn page-nav__toggler" data-type="toggler" data-target="site-nav">
                        <i class="fas fa-bars page-nav_icons"></i>
                    </button>
                    <div class="logo">
                        <a href="#">
                            <img src="./img/l" alt="">
                        </a>
                    </div>
                    <div class="page-nav__collapse" id="site-nav">
                        <ul class="site-nav">
                            <li>
                                <a class="site-nav__item" href="#">Yangiliklar</a>
                            </li>
                            <li>
                                <a class="site-nav__item" href="#">Media</a>
                            </li>
                            <li class="dropdown">
                                <a class="site-nav__item" href="#" class="desktop-link">Bo'limlar</a>
                                <ul class="site-nav__dropdown dropdown__item dropdown__item--mobile">
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="site-nav__item" href="#" class="desktop-link">Fatvo</a>
                                <ul class="site-nav__dropdown dropdown__item dropdown__item--mobile">
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="site-nav__item" href="#">Maqolalar</a>
                            </li>
                            <li class="dropdown">
                                <a class="site-nav__item" href="#" class="desktop-link">Qabul-2020/21</a>
                                <ul class="site-nav__dropdown dropdown__item dropdown__item--mobile">
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                    <li><a href="#">Drop Menu </a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="site-nav__item" href="#">Biz haqimizda</a>
                            </li>
                            <button class="content-close" data-type="close" data-target="site-nav" type="button">
                                <i class="fas fa-times"></i>
                            </button>

                        </ul>
                        <div class="media-buttons">
                            <a href="#" class="btn btn-outline-success media-buttons__item media-buttons__item--radio">
                                <i class="far fa-play-circle "></i>
                                <span> Radio </span>
                            </a>
                            <a href="#" class="btn btn-outline-danger media-buttons__item media-buttons__item--tv">
                                <i class="fas fa-tv "></i>
                                <span> TV </span>
                            </a>
                        </div>
                    </div>
                    <div class="search-icon">
                        <a href="index1.html"> <i style="color: #000;" class="fas fa-search"></i></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header mobile************************************** -->
    <div class="header_mobile-top" style="display: none">
        <div class="container position-relative">
            <div class="row" id="time-toggler">
                <div class="col-4 text-center py-2 text-light" style="font-size: 15px; font-weight: 500;">Peshin
                    13:00
                </div>
                <div class="col-4 text-center py-2 text-light" style="font-size: 15px; font-weight: 500;">15 Safar
                </div>
                <div class="col-4 text-center py-2 text-light" style="font-size: 15px; font-weight: 500;">Toshkent
                </div>
            </div>
            <div class="time" id="time">
                <button id="time-close" type="button">&times</button>
                <div class="namaz__mobile">
                    <div class="region">
                        <div class="namaz_inner">
                            Toshkent
                        </div>
                        <i class="fas fa-chevron-right icons_desing"></i>
                    </div>
                    <div class="mounth region">
                        <div class="namaz_inner">
                                           <span>
                                            5 Muharram 1442,
                                           </span>
                            27 fevral 2021
                        </div>
                        <i class="fas fa-chevron-right icons_desing "></i>
                    </div>
                    <div class="pr-time region">
                        <div class="farz">Bomdod</div>
                        <div class="time-namaz">04:44 - 06:06</div>
                        <button class="suxur" >Suxur*</button>
                    </div>
                    <div class="pr-time region">
                        <div class="farz">Quyosh</div>
                        <div class="time-namaz">04:44 - 06:06</div>
                        <button class="suxur" >Makrux*</button>
                    </div>
                    <div class="pr-time region">
                        <div class="farz">Peshin</div>
                        <div class="time-namaz">04:44 - 06:06</div>
                        <button class="suxur" style="opacity: 0" >Suxur*</button>
                    </div>
                    <div class="pr-time region">
                        <div class="farz" style="margin-right:25px">Asr</div>
                        <div class="time-namaz" > 04:44 - 06:06</div>
                        <button class="suxur" style="opacity: 0;" >Suxur*</button>
                    </div>
                    <div class="pr-time region border_mobile">
                        <div class="farz">Shom</div>
                        <div class="time-namaz">04:44 - 06:06</div>
                        <button class="suxur" >Iftor*</button>
                    </div>
                    <div class="pr-time region border_mobile">
                        <div class="farz">Xufton</div>
                        <div class="time-namaz">04:44 - 06:06</div>
                        <button class="suxur" >Tahajud*</button>
                    </div>
                </div>
            </div>
        </div>
   </header>

   <div class="header_calendar" style="background-color: #EEE; border: 1px solid #ccc">
       <div class="container ">
           <nav class="navbar navbar-expand-lg ">
               <a class="navbar-brand" href="#">Viloyatlar:</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <span><i class="fas fa-arrow-circle-down icons_down "></i></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav mr-auto">
                       <li class="nav-item active">
                           <a class=" region__pad" href="#">Toshkent</a>
                       </li>
                       <li class="nav-item">
                           <a class="region__pad" href="#">Samarqand</a>
                       </li>
                       <li class="nav-item active">
                           <a class="region__pad" href="#">Buxoro <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item">
                           <a class="region__pad" href="#">Xorazm</a>
                       </li>

                       <li class="nav-item active">
                           <a class="region__pad" href="#">Sirdaryo<span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item">
                           <a class="region__pad" href="#">Jizzax</a>
                       </li>

                       <li class="nav-item active">
                           <a class="region__pad" href="#">Namangan <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item">
                           <a class="region__pad" href="#">Andijon</a>
                       </li>
                       <li class="nav-item active">
                           <a class="region__pad" href="#">Farg'ona <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item">
                           <a class="region__pad" href="#">Nukus</a>
                       </li>
                       <li class="nav-item active">
                           <a class="region__pad" href="#">Qashqadaryo <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item">
                           <a class="region__pad" href="#">Surxandaryo</a>
                       </li>
                   </ul>
               </div>
           </nav>
       </div>
   </div>
          <div class="table_time mt-4">
              <div class="container">
                  <table class="table table-bordered">
                      <thead>
                      <tr>
                          <th scope="col">Kun</th>
                          <th scope="col">Hafta kun</th>
                          <th scope="col">Bomdod </th>
                          <th scope="col">Quyosh</th>
                          <th scope="col">Peshin</th>
                          <th scope="col">Asr</th>
                          <th scope="col">Shom</th>
                          <th scope="col">Xufton</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <th scope="row">01</th>
                          <td>Dushanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">02</th>
                          <td>Seshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">03</th>
                          <td>Chorshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">04</th>
                          <td>Payshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr class="table-success">
                          <th scope="row">05</th>
                          <td>Juma</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">06</th>
                          <td>Shanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">07</th>
                          <td>Yakshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">08</th>
                          <td>Dushanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">09</th>
                          <td>Seshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">10</th>
                          <td>Chorshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">11</th>
                          <td>Payshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr class="table-success">
                          <th scope="row">12</th>
                          <td>Juma</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr >
                          <th scope="row">13</th>
                          <td>Shanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">14</th>
                          <td>Yakshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">15</th>
                          <td>Dushanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">16</th>
                          <td>Seshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">17</th>
                          <td>Chorshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">18</th>
                          <td>Payshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr class="table-success">
                          <th scope="row">19</th>
                          <td>Juma</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr >
                          <th scope="row">20</th>
                          <td>Shanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">21</th>
                          <td>Yakshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">22</th>
                          <td>Dushanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">23</th>
                          <td>Seshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">24</th>
                          <td>Chorshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">25</th>
                          <td>Payshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr class="table-success">
                          <th scope="row">26</th>
                          <td>Juma</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr >
                          <th scope="row">27</th>
                          <td>Shanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">28</th>
                          <td>Yakshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">29</th>
                          <td>Dushanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">30</th>
                          <td>Seshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      <tr>
                          <th scope="row">31</th>
                          <td>Chorshanba</td>
                          <td>06:11</td>
                          <td>07:27</td>
                          <td>13:08</td>
                          <td>16:58</td>
                          <td>18:44</td>
                          <td>19:20</td>
                      </tr>
                      </tbody>
                  </table>
                 <button class="suxur">Suxur* </button> <span> -Suxurda tong otguncha ovqatlanishning tugash vaqti. Suxur bomdod vaqtidan 10 daqiqa oldin to'ldirilishi kerak.</span>
                  <br> <br>
                  <button class="suxur">Iftar* </button> <span>-Vaqtni buzish. Xurmo va suv bilan suhbatlashish maqsadga muvofiqdir.</span>
                  <div class="icons_calendar ">
                      <i class="icons-inner fab fa-instagram"></i>
                      <i class="icons-inner fab fa-telegram-plane"></i>
                      <i class="icons-inner fab fa-tiktok"></i>
                      <i class="fab fa-youtube icons-inner"></i>
                      <i class="fab fa-facebook-square icons-inner"></i>
                      <i class="fab fa-twitter icons-inner" ></i>
                  </div>
              </div>
              <br>
          </div>

<footer>
    <div class="footer_top">
        <div class="footer_top-intro">
            <div class="footer_top-inner">
                <div class="container">
                    <div id="footer_center" class="row" style="padding: 0;">
                        <div class="col-sm-3 my-4 text-center">
                            <img id="footer_logo" src="./img/LOGO-MUSLIM-01 2.png" alt="">
                            <div class="row icons_footer text-center">
                                <div class="col-12">
                                    <i class=" icons_footer-inner  fab fa-telegram-plane"></i>
                                    <i class=" icons_footer-inner px-2 fab fa-youtube"></i>
                                    <i class=" icons_footer-inner  fab fa-facebook-square"></i>
                                    <i class=" icons_footer-inner px-2 fab fa-instagram"></i>
                                    <i class=" icons_footer-inner  fab fa-twitter"></i>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-9 my-4 copytext">
                            © 2016. Ўзбекистон мусулмонлари идораси. Оммавий ахборот воситалари вакиллари ҳамда
                            порталимиз мухлислари диққатига! Сиз muslim.uz порталидаги маълумотлардан хоҳлаганчаC
                            фойдаланишингиз мумкин. Бизнинг асосий мақсадимиз ҳам шу. Фақат ягона шартимиз: Мақола
                            ёки хабарни ўз веб-саҳифангизда ёритишда қуйидаги кўринишда беришингизни сўраймиз:
                            “Ўзбекистон мусулмонлари идораси расмий веб-портали хабар беради”, бунда “расмий
                            веб-портали” сўзи устига линк қўйилиб, линк http//muslim.uz
                            саҳифасига йўналтирилган бўлиши, “хабар беради” сўз бирикмасига линк қўйилиб, линк
                            “веб-саҳифа”даги сиз фойдаланган хабар ёки мақолага йўналтирилган бўлиши шарт. Унутманг,
                            маълумот олинганда манзил ва муаллифни кўрсатмаслик
                            ҳам қонунан ҳам диний нуқтаи-назардан қаттиқ қораланади.
                        </div>
                    </div>
                    <div class="copy_footer">&copy;Muslim.uz 2021</div>
                    <div class="adcopy"><a href="#">PROACTIVE MEDIA</a> da ishlab chiqarilgan</div>
                </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="fa fa-angle-up"></span></button>
</footer>

<!-- Owlcarousel -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="./js/app.js"></script>
<script src="./js/owl.carousel.min.js"></script>
<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel();
    });
</script>
<script>
    $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
    });
</script>


<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>

<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>



</body>

</html>