svg {
    max-width: 100%;
}
.cd-read-more{
    position: sticky;
    top: 20px;
}
.cd-header {
    height: 140px;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    padding-top: 24px;
}

.cd-header h1 {
    font-family: Georgia, serif;
    font-size: 2rem;
    color: #141414;
}

@media only screen and (min-width: 1100px) {
    .cd-header {
        height: 250px;
        padding-top: 70px
    }

    .cd-header h1 {
        font-size: 3.6rem
    }
}

.cd-footer {
    height: 250px;
    background-color: #141414;
    text-align: center
}

.cd-footer p {
    font-family: Georgia, serif;
    font-size: 1.8rem;
    line-height: 250px
}

.cd-notification {
    position: fixed;
    width: 90%;
    background: rgba(227, 88, 88, .9);
    bottom: 10px;
    left: 5%;
    border-radius: 3px
}

.cd-notification p {
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 1.3rem
}

@media only screen and (min-width: 1100px) {
    .cd-notification {
        display: none
    }
}

#carbonads-container, #ui8ads-container {
    position: fixed;
    top: 40px;
    left: 5%;
    width: 180px;
    display: none;
    z-index: 100
}

#carbonads-container .close-carbon-adv, #carbonads-container .close-ui8-adv, #ui8ads-container .close-carbon-adv, #ui8ads-container .close-ui8-adv {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    background: rgba(56, 56, 56, .4);
    text-indent: 100%;
    overflow: hidden;
    width: 32px;
    height: 32px
}

#carbonads-container .close-carbon-adv:hover, #carbonads-container .close-ui8-adv:hover, #ui8ads-container .close-carbon-adv:hover, #ui8ads-container .close-ui8-adv:hover {
    background: rgba(56, 56, 56, .6)
}

#carbonads-container .close-carbon-adv::after, #carbonads-container .close-carbon-adv::before, #carbonads-container .close-ui8-adv::after, #carbonads-container .close-ui8-adv::before, #ui8ads-container .close-carbon-adv::after, #ui8ads-container .close-carbon-adv::before, #ui8ads-container .close-ui8-adv::after, #ui8ads-container .close-ui8-adv::before {
    content: '';
    background-color: #fff;
    height: 2px;
    width: 14px;
    position: absolute;
    top: 14px;
    left: 9px
}

#carbonads-container .close-carbon-adv::after, #carbonads-container .close-ui8-adv::after, #ui8ads-container .close-carbon-adv::after, #ui8ads-container .close-ui8-adv::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

#carbonads-container .close-carbon-adv::before, #carbonads-container .close-ui8-adv::before, #ui8ads-container .close-carbon-adv::before, #ui8ads-container .close-ui8-adv::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

#carbonads-container .carbonad, #carbonads-container .ui8ad, #ui8ads-container .carbonad, #ui8ads-container .ui8ad {
    background: rgba(255, 255, 255, .9);
    border: none;
    width: 100%;
    height: auto;
    padding: 14px;
    text-align: center;
    border-radius: 3px 0 3px 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1)
}

#carbonads-container .carbonad .carbon-img img, #carbonads-container .ui8ad .carbon-img img, #ui8ads-container .carbonad .carbon-img img, #ui8ads-container .ui8ad .carbon-img img {
    margin: 0 10px 10px;
    width: 130px
}

#carbonads-container .carbonad .carbon-text, #carbonads-container .carbonad .carbonad-tag, #carbonads-container .carbonad .carbon-poweredby, #carbonads-container .ui8ad .carbon-text, #carbonads-container .ui8ad .carbonad-tag, #carbonads-container .ui8ad .carbon-poweredby, #ui8ads-container .carbonad .carbon-text, #ui8ads-container .carbonad .carbonad-tag, #ui8ads-container .carbonad .carbon-poweredby, #ui8ads-container .ui8ad .carbon-text, #ui8ads-container .ui8ad .carbonad-tag, #ui8ads-container .ui8ad .carbon-poweredby {
    font-family: helvetica neue, Arial, sans-serif
}

#carbonads-container .carbonad .carbon-wrap, #carbonads-container .ui8ad .carbon-wrap, #ui8ads-container .carbonad .carbon-wrap, #ui8ads-container .ui8ad .carbon-wrap {
    display: block;
    width: 100%;
    padding: 0
}

#carbonads-container .carbonad .carbon-wrap a, #carbonads-container .ui8ad .carbon-wrap a, #ui8ads-container .carbonad .carbon-wrap a, #ui8ads-container .ui8ad .carbon-wrap a {
    color: #2a76e8;
    font-size: 13px;
    font-weight: 700
}

.no-touch #carbonads-container .carbonad .carbon-wrap a:hover, .no-touch #carbonads-container .ui8ad .carbon-wrap a:hover, .no-touch #ui8ads-container .carbonad .carbon-wrap a:hover, .no-touch #ui8ads-container .ui8ad .carbon-wrap a:hover {
    text-decoration: underline
}

#carbonads-container .carbonad .carbonad-tag, #carbonads-container .carbonad .carbon-poweredby, #carbonads-container .ui8ad .carbonad-tag, #carbonads-container .ui8ad .carbon-poweredby, #ui8ads-container .carbonad .carbonad-tag, #ui8ads-container .carbonad .carbon-poweredby, #ui8ads-container .ui8ad .carbonad-tag, #ui8ads-container .ui8ad .carbon-poweredby {
    margin-top: 5px;
    color: #717171
}

#carbonads-container .carbonad .carbonad-tag a, #carbonads-container .carbonad .carbon-poweredby a, #carbonads-container .ui8ad .carbonad-tag a, #carbonads-container .ui8ad .carbon-poweredby a, #ui8ads-container .carbonad .carbonad-tag a, #ui8ads-container .carbonad .carbon-poweredby a, #ui8ads-container .ui8ad .carbonad-tag a, #ui8ads-container .ui8ad .carbon-poweredby a {
    color: #717171
}

#carbonads-container .carbonad .carbonad-tag a:hover, #carbonads-container .carbonad .carbon-poweredby a:hover, #carbonads-container .ui8ad .carbonad-tag a:hover, #carbonads-container .ui8ad .carbon-poweredby a:hover, #ui8ads-container .carbonad .carbonad-tag a:hover, #ui8ads-container .carbonad .carbon-poweredby a:hover, #ui8ads-container .ui8ad .carbonad-tag a:hover, #ui8ads-container .ui8ad .carbon-poweredby a:hover {
    color: #2a76e8
}

#carbonads-container .carbonad .carbon-poweredby, #carbonads-container .ui8ad .carbon-poweredby, #ui8ads-container .carbonad .carbon-poweredby, #ui8ads-container .ui8ad .carbon-poweredby {
    display: inline-block;
    font-size: 11px;
    line-height: 15px
}

@media only screen and (min-width: 1100px) {
    #carbonads-container, #ui8ads-container {
        display: block
    }
}

.cd-nugget-info a {
    position: relative;
    display: inline-block;
    padding: 1.2em 1.6em;
    border-radius: 50em;
    background: #2a76e8;
    font-size: 14px;
    color: #fff;
    margin-top: 1em;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    box-shadow: 0 0 20px rgba(42, 118, 232, .4)
}

.no-touch .cd-nugget-info a:hover {
    opacity: .8
}

.cd-nugget-info span {
    vertical-align: middle;
    display: inline-block
}

.cd-nugget-info span svg {
    display: block
}

.cd-nugget-info .cd-nugget-info-arrow {
    fill: #fff
}

@media only screen and (min-width: 1100px) {
    .cd-nugget-info a {
        margin-top: 1.4em
    }
}

.cd-articles {
    position: relative;
    width: 90%;
    max-width: 650px;
    margin: 0 auto 3em
}

.cd-articles::before {
    content: 'mobile';
    display: none
}

.cd-articles article {
    padding: 3em 0;
    border-bottom: 1px solid #e6e6e6
}

.cd-articles article:last-of-type {
    border-bottom: none
}

.cd-articles h1 {
    margin: .6em 0 .2em;
    color: #141414;
    line-height: 1.2;
    font-size: 2.4rem;
    font-family: Georgia, serif
}

.cd-articles p {
    padding: 1em 0;
    line-height: 1.6
}

.cd-articles p:last-of-type {
    padding-bottom: 0
}

@media only screen and (min-width: 1100px) {
    .cd-articles {
        width: 1110px;
        max-width: none;
        padding-right: 320px;
        margin-bottom: 5em
    }

    .cd-articles::before {
        content: 'desktop'
    }

    .cd-articles h1 {
        font-size: 3.6rem
    }

    .cd-articles p {
        font-size: 1.8rem
    }
}

.cd-read-more {
    display: none;
    width: 290px;
    border: 1px solid #EEEEEE;
}

.cd-read-more li {
    counter-increment: articles
}

.cd-read-more a {
    display: block;
    position: relative;
    padding: 1.2em 1em 1em 4.1em;
}

.cd-read-more a::before, .cd-read-more a::after {
    position: absolute
}

.cd-read-more a::before {
    content: counter(articles);
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1.1em;
    width: 36px;
    height: 36px;
    line-height: 34px;
    border-radius: 50%;
    color: #b3b3b3;
    font-family: Georgia, serif;
    text-align: center;
    box-shadow: inset 0 0 0 1px #d9d9d9;
    -webkit-transition: background-color .3s, color .3s;
    -moz-transition: background-color .3s, color .3s;
    transition: background-color .3s, color .3s
}
.cd-read-more.fixed{
    top: 0!important;
}
.cd-read-more a::after {
    content: '';
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    height: 1px;
    width: 260px;
    background-color: #d9d9d9
}

.cd-read-more a.read em {
    color: #a6a6a6
}

.cd-read-more a.read::before {
    background-color: #d9d9d9
}

.cd-read-more a.reading em {
    color: #2a76e8
}

.cd-read-more a.reading svg {
    display: block
}

.cd-read-more a.reading::before {
    background-color: #fff;
    color: #141414
}

.cd-read-more li:last-of-type a::after {
    display: none
}

.cd-read-more em {
    display: block;
    font-size: 18px;
    color: #141414;
    overflow: hidden;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    transition: color .3s
}


.cd-read-more svg {
    display: none;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 1.1em;
    stroke: #2a76e8
}

@media only screen and (min-width: 1100px) {
    .cd-read-more {
        display: block;
        position: absolute;
        top: 3em;
        right: 0
    }

    .cd-read-more.fixed {
        position: fixed;
        right: calc(50% - 555px);
        height: 700px;
        width: 300px;
        overflow-y: scroll;
    }
    .cd-read-more.fixed::-webkit-scrollbar{
        width: 10px;
    }
    .cd-read-more.fixed::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .cd-read-more.fixed::-webkit-scrollbar-thumb{
        border-radius: 8px;
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
        background-color: #898080;
    }
}
.rotate {
    transform: rotate(180deg);
}
.faq_inner{
    display: none;
}
.title_block{
    margin: 0;
}
.in_block{
    border: 1px solid #EEEEEE;
    box-shadow: 0 14px 28px rgb(0 0 0 / 12%), 0 10px 10px rgb(0 0 0 / 2%);
}
.text_islom p {
    font-size: 16px;
}
.arabic{
    padding:20px !important;
    background-color: #ebf8ff;
    border: 1px solid #00A3FF ;
}
.nav-item{
    cursor: pointer;
}

/**********************************************************************/
/*switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    margin: 10px 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #484f58;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 6px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2d644d;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2d644d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #c0eedb;
}

/* Rounded sliders */
.slider.round {
    border-radius: 100px;
}

.slider.round:before {
    border-radius: 50%;
}
.colorbefore{
    position: absolute;
    right: 20px;
    width: 8px;
    height: 8px;
    background-color: #cccccc;
}
.bs-example {
    position: relative;
    display: flex;
}
.location{
    display: flex;
    align-items: center;
}
.sub_menu-tup{
    position: absolute;
    right: 50px;
    top: 39px;
    background-color: #fff;
    z-index: 1000000;
    padding: 20px;
    border-top: 3px solid #00A3FF;
    box-shadow: 0 14px 28px rgb(0 0 0 / 12%), 0 10px 10px rgb(0 0 0 / 2%);
}
.region_road {
    padding-top: 7px;
    display: none;
}
.country_uzb{
    padding-top: 7px;
}
.point{
    padding-top: 7px;
}
.select a{
    color: #acacac;
    font-weight: bold;
    padding-right: 20px;
}
.icons_location{
    color: #acacac;
    font-weight: bold;
    padding-right: 5px;
}
.times{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 15px;
}
